html {
  font-size: 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'norwester';
    src: url(fonts/norwester.otf);
}

.stat-font {
  font-family: 'norwester';
}

.link-font {
  font-family: 'Exo', sans-serif;
}

.signup-btn {
  color: inherit;
}

.main-header {
  font-size: 3em;
  font-weight: 300;
}

.white {
  color: #FFFFFF;
}

.green {
  color: #5cb85c;
}

.btn {
  border-radius: 25px;
  padding-left: 1.7em;
  padding-right: 1.7em;
}

a:hover {
    text-decoration: none;
    color: white;
}

.tele {
  text-decoration: none;
  color: white;
}

.tele:hover {
  color: #5cb85c
}

.donation-text {
  font-size: .7em;
}

.navy-blue {
  background: -moz-radial-gradient(center, ellipse cover, #000142 0%, #01051c 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #000142), color-stop(100%, #01051c)); /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #000142 0%, #01051c 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #000142 0%, #01051c 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #000142 0%, #01051c 100%); /* ie10+ */
  background: radial-gradient(ellipse at center, #000142 0%, #01051c 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000142', endColorstr='#01051c',GradientType=0 ); /* ie6-9 */
}

.num-border {
  border-right: thick solid #5cb85c;
}

.grey {
  background-color: #919191;
}

.main-bg {
  background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("../img/helmets.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 5% 75%; 
  margin-bottom: 0;
  padding-bottom: 10em;
}

.mid-bg {
  background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("../img/field-lights.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
}

.title {
  color: #000142;
}

.mid-p {
  font-size: 1.6em;
  font-style: italic;
}

.num-p {
  font-size: 4.1em;
}

.green-span {
  color: green;
  font-size: 2em;
}

.fa-phone {
  color: #5cb85c;
  margin-right: .2em;
}

.fa-chevron-circle-right {
  margin-left: .3em;
}

.fa-quote-left {
  color: #5cb85c;
}


hr {
  width: 15%;
  color: #969696;
  background-color: #969696;
  height: 5px;
}

@media (min-width: 300px) and (max-width: 767px) {

  html {
    font-size: .8em;
  }

  .num-border {
    border-right: none;
  }

  .logo {
    text-align: center;
  }

  .footer-text {
    text-align: center;
    float: none;
  }
}
