html {
  font-size: 1em;
}

.signup-btn {
  color: inherit;
}

.main-header {
  font-size: 3em;
  font-weight: 300;
}

.white {
  color: #FFFFFF;
}

.green {
  color: #5cb85c;
}

.btn {
  border-radius: 25px;
  padding-left: 1.7em;
  padding-right: 1.7em;
}

a:hover {
    text-decoration: none;
    color: white;
}

.donation-text {
  font-size: .7em;
}

.navy-blue {
  background-color: #000034;
}

.num-border {
  border-right: thick solid #5cb85c;
}

.grey {
  background-color: #919191;
}

.main-bg {
  background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("../img/helmets.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 7em;
}

.mid-bg {
  background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("../img/field-lights.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
}

.mid-p {
  font-size: 1.6em;
  font-style: italic;
}

.num-p {
  font-size: 3.4em;
}

.green-span {
  color: green;
  font-size: 2em;
}

.fa-phone {
  color: #5cb85c;
  margin-right: .2em;
}

.fa-arrow-circle-right {
  margin-left: .3em;
}

.fa-quote-left {
  color: #5cb85c;
}

hr {
  width: 15%;
  color: #969696;
  background-color: #969696;
  height: 5px;
}

@media (min-width: 300px) and (max-width: 767px) {

  html {
    font-size: .8em;
  }

  .num-border {
    border-right: none;
  }

  .logo {
    text-align: center
  }
}
